@charset "UTF-8";
/* Mobile view */

.divProfile {
	width: 80%;
	margin-left: 10%;
	margin-bottom: 3%;
	display: inline-block;
}

.div-avatar-profile {
	width: 48%;
	margin: 1%;
	float: left;
}

.div-information-profile {
	width: 48%;
	margin: 1%;
	float: left;
	
	font-size: 1.2em;
}

.div-line-info {
	margin-top: 2%;
}
