<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Dashboard</title>
<style type="text/css">
	
</style>

<!-- Custom fonts for this template-->
<link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="../css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<ul
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar">

			<!-- Sidebar - Brand -->
			<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/u/homepage"/>
				<div class="sidebar-brand-icon rotate-n-15">
					<i class="fas fa-laugh-wink"></i>
				</div>
				<div class="sidebar-brand-text mx-3">
					Social Network<sup>PRC391</sup>
				</div>
			</a>

			<!-- Divider -->
			<hr class="sidebar-divider my-0">

			<!-- Nav Item - Dashboard -->
			<li class="nav-item active"><a class="nav-link"
				href="/u/homepage"> <i class="fas fa-fw fa-tachometer-alt"></i> <span>Dashboard</span></a>
			</li>

			<!-- Divider -->
			<hr class="sidebar-divider">
			<li class="nav-item active"><a class="nav-link"
				href="/u/profile"> <i class="fas fa-fw fa-tachometer-alt"></i> <span>Profile</span></a>
			</li>
			<hr class="sidebar-divider">
			<li class="nav-item active"><a class="nav-link"
				href="/u/profile"> <i class="fas fa-fw fa-tachometer-alt"></i> <span th:text="${userDTO.username}"></span></a>
			</li>
			
			<hr class="sidebar-divider">
			<!-- Sidebar Message -->
			<div class="sidebar-card">
				<img class="sidebar-card-illustration mb-2"
					src="../img/undraw_rocket.svg" alt="">
				<p class="text-center mb-2">
					<strong>Pro Pack</strong> is packed with premium features,
					components, and more!
				</p>
				<a class="btn btn-success btn-sm"
					href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to
					Pro!</a>
			</div>

		</ul>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

					<!-- Sidebar Toggle (Topbar) -->
					<button id="sidebarToggleTop"
						class="btn btn-link d-md-none rounded-circle mr-3">
						<i class="fa fa-bars"></i>
					</button>

					<!-- Topbar Search -->
					<form th:action="@{/u/homepage}" method="GET" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
						<div class="input-group">
							<input type="text" class="form-control bg-light border-0 small"
								placeholder="Search for..." aria-label="Search"
								aria-describedby="basic-addon2" name="txtSearch"/>
							<div class="input-group-append">
								<button class="btn btn-primary" type="submit">
									<i class="fas fa-search fa-sm"></i>
								</button>
							</div>
						</div>
					</form>

					<!-- Topbar Navbar -->
					<ul class="navbar-nav ml-auto">

						<!-- Nav Item - Search Dropdown (Visible Only XS) -->
						<li class="nav-item dropdown no-arrow d-sm-none"><a
							class="nav-link dropdown-toggle" href="#" id="searchDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"> <i class="fas fa-search fa-fw"></i>
						</a> <!-- Dropdown - Messages -->
							<div
								class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
								aria-labelledby="searchDropdown">
								<form class="form-inline mr-auto w-100 navbar-search">
									<div class="input-group">
										<input type="text"
											class="form-control bg-light border-0 small"
											placeholder="Search for..." aria-label="Search"
											aria-describedby="basic-addon2">
										<div class="input-group-append">
											<button class="btn btn-primary" type="button">
												<i class="fas fa-search fa-sm"></i>
											</button>
										</div>
									</div>
								</form>
							</div></li>

						<!-- Nav Item - Alerts -->
						<li class="nav-item dropdown no-arrow mx-1"><a
							class="nav-link dropdown-toggle" href="#" id="alertsDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"> <i class="fas fa-bell fa-fw"></i> <!-- Counter - Alerts -->
								<span class="badge badge-danger badge-counter">3+</span>
						</a> <!-- Dropdown - Alerts -->
							<div
								class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
								aria-labelledby="alertsDropdown">
								<h6 class="dropdown-header">Alerts Center</h6>
								<a class="dropdown-item d-flex align-items-center" href="#">
									<div class="mr-3">
										<div class="icon-circle bg-primary">
											<i class="fas fa-file-alt text-white"></i>
										</div>
									</div>
									<div>
										<div class="small text-gray-500">December 12, 2019</div>
										<span class="font-weight-bold">A new monthly report is
											ready to download!</span>
									</div>
								</a> <a class="dropdown-item d-flex align-items-center" href="#">
									<div class="mr-3">
										<div class="icon-circle bg-success">
											<i class="fas fa-donate text-white"></i>
										</div>
									</div>
									<div>
										<div class="small text-gray-500">December 7, 2019</div>
										$290.29 has been deposited into your account!
									</div>
								</a> <a class="dropdown-item d-flex align-items-center" href="#">
									<div class="mr-3">
										<div class="icon-circle bg-warning">
											<i class="fas fa-exclamation-triangle text-white"></i>
										</div>
									</div>
									<div>
										<div class="small text-gray-500">December 2, 2019</div>
										Spending Alert: We've noticed unusually high spending for your
										account.
									</div>
								</a> <a class="dropdown-item text-center small text-gray-500"
									href="#">Show All Alerts</a>
							</div></li>

						<!-- Nav Item - Messages -->
						<li class="nav-item dropdown no-arrow mx-1"><a
							class="nav-link dropdown-toggle" href="#" id="messagesDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"> <i class="fas fa-envelope fa-fw"></i>
								<!-- Counter - Messages --> <span
								class="badge badge-danger badge-counter">7</span>
						</a> <!-- Dropdown - Messages -->
							<div
								class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
								aria-labelledby="messagesDropdown">
								<h6 class="dropdown-header">Message Center</h6>
								<a class="dropdown-item d-flex align-items-center" href="#">
									<div class="dropdown-list-image mr-3">
										<img class="rounded-circle" src="../img/undraw_profile_1.svg"
											alt="">
										<div class="status-indicator bg-success"></div>
									</div>
									<div class="font-weight-bold">
										<div class="text-truncate">Hi there! I am wondering if
											you can help me with a problem I've been having.</div>
										<div class="small text-gray-500">Emily Fowler · 58m</div>
									</div>
								</a> <a class="dropdown-item d-flex align-items-center" href="#">
									<div class="dropdown-list-image mr-3">
										<img class="rounded-circle" src="../img/undraw_profile_2.svg"
											alt="">
										<div class="status-indicator"></div>
									</div>
									<div>
										<div class="text-truncate">I have the photos that you
											ordered last month, how would you like them sent to you?</div>
										<div class="small text-gray-500">Jae Chun · 1d</div>
									</div>
								</a> <a class="dropdown-item d-flex align-items-center" href="#">
									<div class="dropdown-list-image mr-3">
										<img class="rounded-circle" src="../img/undraw_profile_3.svg"
											alt="">
										<div class="status-indicator bg-warning"></div>
									</div>
									<div>
										<div class="text-truncate">Last month's report looks
											great, I am very happy with the progress so far, keep up the
											good work!</div>
										<div class="small text-gray-500">Morgan Alvarez · 2d</div>
									</div>
								</a> <a class="dropdown-item d-flex align-items-center" href="#">
									<div class="dropdown-list-image mr-3">
										<img class="rounded-circle"
											src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
										<div class="status-indicator bg-success"></div>
									</div>
									<div>
										<div class="text-truncate">Am I a good boy? The reason I
											ask is because someone told me that people say this to all
											dogs, even if they aren't good...</div>
										<div class="small text-gray-500">Chicken the Dog · 2w</div>
									</div>
								</a> <a class="dropdown-item text-center small text-gray-500"
									href="#">Read More Messages</a>
							</div></li>

						<div class="topbar-divider d-none d-sm-block"></div>

						<!-- Nav Item - User Information -->
						<li class="nav-item dropdown no-arrow"><a
							class="nav-link dropdown-toggle" href="#" id="userDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"> <span
								class="mr-2 d-none d-lg-inline text-gray-600 small"
								th:text=${userDTO.fullname}></span> <img
								class="img-profile rounded-circle" th:src="${userDTO.avatarLink}">
						</a> <!-- Dropdown - User Information -->
							<div
								class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
								aria-labelledby="userDropdown">
								<a class="dropdown-item" href="/u/profile"> <i
									class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Profile
								</a> <a class="dropdown-item" href="#"> <i
									class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
									Settings
								</a> <a class="dropdown-item" href="#"> <i
									class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
									Activity Log
								</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#" data-toggle="modal"
									data-target="#logoutModal"> <i
									class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
									Logout
								</a>
							</div></li>

					</ul>

				</nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<th:block th:if="${imessage}"><div onload="showMessage()" id="PostMessage" th:text="${imessage}" style="color: red; text-align: center;"></div></th:block>
					<th:block th:if="${message}"><div onload="showMessage()" id="PostMessage" th:text="${message}" style="color: green; text-align: center;"></div></th:block>
					<div class="d-sm-flex align-items-center justify-content-between mb-4 card shadow"
						style="width: 50%; margin-left: 25%;">
						<form th:action="@{/u/post}" method="POST" enctype="multipart/form-data">
							<textarea rows="4" cols="50"
								placeholder="Enter your's post content..." name="txtContent"
								style="padding: 15px; margin-top: 5%; border-radius: 15px; border: 1px solid #CCC;"></textarea>
							<br/>
							<input type="button" onclick="display('divImg')" class="shadow card hover" style="padding: 10px; border-radius: 15px; border: none; float: left; margin-right: 2%;" value="Attach an image"/>
							<input type="button" onclick="display('divVid')" class="shadow card hover" style="padding: 10px; border-radius: 15px; border: none; " value="Attach a video" />
							<br/>
							<span style="color: red; margin-left: 5px;" th:if="${invImg}"
										th:text="${invImg}"></span>
							<div id="divImg" style="display: none;">
								Upload Image:
	                        	<input onchange="Filevalidation1()" type="file" id="inpImg" accept="image/png, image/jpeg, image/jpg, image/gif" name="imageLink"/>
	                        	<span id="sizeImg"></span>	
								<br/>
								<br /> 
							</div>
							<span class="has-error" style="color: red; margin-left: 5px;" th:if="${invVid}"
										th:text="${invVid}"></span>
							<div id="divVid" style="display: none;">
								Upload Video:
	                        	<input onchange="Filevalidation2()" type="file" id="inpVid" accept="video/mp4" name="videoLink"/>
	                        	<span id="sizeVid"></span>
	                        	<br/>		
	                        	<br/>	
							</div>
							 
							<input type="submit" value="Post" class="btn btn-primary"
											style="float: right; margin-bottom: 4%;" />
							</form>
							
							</div>
					<div style="width: 100%; float: left;">
						<th:block th:each="user : ${listUsers}">
						<div class="card shadow" style="width: 30%; margin-left: 3%; margin-top: 2%; height: 180px; text-align:center; float: left;">
							<div style="float: left;">
								<img th:src="${user.avatarLink}" style="height: 100px; margin-top: 5%;"/>
							</div>
							<div style="float: left;">
								<span th:text="${user.fullname}"></span>
							</div>
							<a th:href="${'../u/profile?username='+ user.username}" class="btn btn-primary">View Profile</a>
						</div>
					</th:block>
					</div>
					<hr/>
					<div style="width: 100%; float: left;">
					<th:block th:each="post : ${listPosts}">
						<div class="container mt-5 mb-5">
							<div class="row d-flex align-items-center justify-content-center">
								<div class="col-md-8">
									<div class="card shadow">
										<div class="d-flex justify-content-between p-2 px-3">
											<div class="d-flex flex-row align-items-center">
												<img th:src="${post.user.avatarLink}" width="50"
													class="rounded-circle">
												<div class="d-flex flex-column ml-2">
													<span class="font-weight-bold"
														th:text=${post.user.fullname}></span> <small
														class="text-primary">1m ago</small>
												</div>
											</div>
											<div class="d-flex flex-row mt-1 ellipsis post-dropdown">
												<small class="mr-2"> <th:block
														th:if="${post.dateUpdated != null}"
														th:text="${post.dateUpdated}" /> <th:block
														th:if="${post.dateUpdated == null}"
														th:text="${post.timeUpdated}" />
												</small> 
												<i class="fa fa-ellipsis-h dropbtn" th:attr="onclick=|showPostFunction('post-${post.id}')|"></i>
												<div th:id="${'post-'+post.id}" class="dropdown-menu-right shadow animated--grow-in post-dropdown-content dropdown-menu">
												    <th:block th:if="${post.user.username eq userDTO.username}">
												    	<a th:href="${'../u/post/delete/'+post.id}" onclick="return confirm_delete()" class="dropdown-item" style="color: red;">Delete</a>
												    </th:block>    
												    <a th:href="${'../u/profile?username='+post.user.username}" class="dropdown-item">View Profile</a>
												    <a href="#contact" class="dropdown-item">Report</a>
												 </div>
											</div>
										</div>
										
										<div class="p-2">
											<span class="text-justify" th:text="${post.content}"></span><br />
											<div th:if="${post.imageLink != null}">
												<img th:src="${post.imageLink}" class="img-fluid">
											</div>
										<div th:if="${post.videoLink != null}">
											<video style="width: 60%; margin-left: 20%;" width="480" height="320" controls>
												<source th:src="${post.videoLink}" class="img-fluid" type="video/mp4">
											</video>
										</div>
											<hr>
											<div class="d-flex justify-content-between align-items-center">
												<div class="d-flex flex-row icons d-flex align-items-center">
													<form th:action="@{../u/post/react}" method="POST">
														<input type="hidden" name="postID" th:value="${post.id}"/>
														<th:block th:if="${not post.isLiked(userDTO.username)}">
															<input type="hidden" name="action" value="like"/>
															<button type="submit" value="Like" class="btn shadow" style="border: 1px solid blue;">
																<span style="color:blue;">Like&nbsp;</span>
																<img src="../img/like.svg" height="20px" style="margin-bottom: 10%;"> 	
															</button>															
														</th:block>
														<th:block th:if="${post.isLiked(userDTO.username)}">
															<input type="hidden" name="action" value="dislike"/>
															<button type="submit" value="Dislike" class="btn shadow" style="border: 1px solid red;">
																<span style="color:red;">Dislike&nbsp;</span>
																<img src="../img/dislike.svg" height="20px" style="margin-bottom: 5%;"> 	
															</button>
														</th:block>
													</form>
												</div>
												<div class="d-flex flex-row muted-color">
													<span th:text="${post.comments.size()}"></span><span>&nbsp;comments</span>
													<span>&nbsp;&nbsp;</span>
													<th:block th:if="${post.reactions.size() gt 1}">
														<span th:text="${post.reactions.size()}"></span><span>&nbsp;likes</span>
													</th:block>		
													<th:block th:if="${post.reactions.size() lt 2}">
														<span th:text="${post.reactions.size()}"></span><span>&nbsp;like</span>
													</th:block>
												</div>
											</div>
											<hr>
											<input type="button" class="btn btn-primary shadow" style="margin-left: 40%;" th:id="${'button-comment-' +post.id}" value="View comments" th:attr="onclick=|display('div-comment-${post.id}'); display('button-comment-${post.id}')|"/>
											<div class="comments" style="display: none;" th:id="${'div-comment-' +post.id}">
												<th:block th:each="comment : ${post.comments}" th:if="${comment.status}">
													<div class="d-flex flex-row mb-2">
														<img th:src="${comment.user.avatarLink}" width="40"
															class="rounded-image">
														<div class="d-flex flex-column ml-2">
															<span class="name" th:text="${comment.user.fullname}"></span> 
															<small class="comment-text" th:text="${comment.content}"></small>
															<th:block th:if="${comment.imageLink != null}"><img th:src="${comment.imageLink}" width="200px" style="border-radius: 18px;" /></th:block>
															<th:block th:if="${comment.videoLink != null}">
																<video style="" width="320" height="240" controls>
																	<source th:src="${comment.videoLink}" class="img-fluid" type="video/mp4">
																</video>
															</th:block>
															<div class="d-flex flex-row align-items-center status">
																<th:block th:if="${userDTO.username eq comment.user.username}">				
																		<form th:action="@{/u/comment/delete}" method="POST" enctype="multipart/form-data">
																		<small>
																			<input type="hidden" name="txtCommentID" th:value="${comment.id}" />
																			<input type="hidden" name="txtPostID" th:value="${post.id}" />
																			<input type="submit" class="btn btn-link" value="Delete" onclick="return confirm_delete()" /> 
																		</small>
																		</form>
																</th:block>
																
																<small>
																	<span th:text="${comment.dateUpdated}"></span>&nbsp;at&nbsp;<span th:text="${comment.timeUpdated}"></span>
																</small>
															</div>
														</div>
													</div>
												</th:block>
												<form th:action="@{/u/comment}" method="POST" enctype="multipart/form-data">
												<div class="comment-input">
														<input type="text" name="commentContent" class="form-control">
														<div class="fonts">
															<span class="fa fa-camera" th:attr="onclick=|display('div-comment-media-${post.id}')|"></span>
														</div>
													
												</div>
												<div style="display: none; margin-left: 3%; margin-top: 1%;" th:id="${'div-comment-media-' + post.id}">
													<input onchange="Filevalidation3()" type="file" id="inpMedia"
															accept="image/png, image/jpeg, image/jpg, image/gif, video/mp4" name="commentMedia"/>
													<span id="sizeMedia"></span>
													<input type="hidden" th:value="${post.id}" name="postID"/>	
												</div>
												</form>	
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</th:block>
				</div>
				</div>
				<!-- End of Main Content -->

				<!-- Footer -->
				<footer class="sticky-footer bg-white">
					<div class="container my-auto">
						<div class="copyright text-center my-auto">
							<span>Copyright &copy; Social Network PRC391 - 2021</span>
						</div>
					</div>
				</footer>
				<!-- End of Footer -->

			</div>
			<!-- End of Content Wrapper -->

		</div>
		<!-- End of Page Wrapper -->

		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top"> <i
			class="fas fa-angle-up"></i>
		</a>

		<!-- Logout Modal-->
		<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Ready to
							Leave?</h5>
						<button class="close" type="button" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">Select "Logout" below if you are
						ready to end your current session.</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" type="button"
							data-dismiss="modal">Cancel</button>
						<a class="btn btn-primary" href="/logout">Logout</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Bootstrap core JavaScript-->
		<script src="../vendor/jquery/jquery.min.js"></script>
		<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

		<!-- Core plugin JavaScript-->
		<script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

		<!-- Custom scripts for all pages-->
		<script src="../js/sb-admin-2.min.js"></script>

		<!-- Page level plugins -->
		<script src="../vendor/chart.js/Chart.min.js"></script>

		<!-- Page level custom scripts -->
		<script src="../js/demo/chart-area-demo.js"></script>
		<script src="../js/demo/chart-pie-demo.js"></script>
		<script>
			function display(id) {
				var x = document.getElementById(id);
				if(x.style.display === "none") {
					x.style.display = "block";
				} else {
					x.style.display = "none";
				}
			}
		</script>
		<script> 
		    Filevalidation1 = () => { 
		        const fi = document.getElementById('inpImg'); 
		        // Check if any file is selected. 
		        if (fi.files.length > 0) { 
		            for (const i = 0; i <= fi.files.length - 1; i++) { 
		  
		                const fsize = fi.files.item(i).size; 
		                const file = Math.round((fsize / 1024)); 
		                // The size of the file. 
		                if (file >= 4096) { 
		                    alert( 
		                      "File too Big, please select a file less than 4mb");
		                    document.getElementById('inpImg').value = "";
		                    document.getElementById('sizeImg').innerHTML = "";
		                    return false;
		                } else if (file < 1) { 
		                    alert( 
		                      "File too small!"); 
		                    document.getElementById('inpImg').value = "";
		                    document.getElementById('sizeImg').innerHTML = "";
		                    return false;
		                } else { 
		                    document.getElementById('sizeImg').innerHTML = '<br/><b>File size: '
		                    + file + '</b> KB'; 
		                } 
		            } 
		        } 
		    } 
</script>
<script> 
		    Filevalidation2 = () => { 
		        const fi = document.getElementById('inpVid'); 
		        // Check if any file is selected. 
		        if (fi.files.length > 0) { 
		            for (const i = 0; i <= fi.files.length - 1; i++) { 
		  
		                const fsize = fi.files.item(i).size; 
		                const file = Math.round((fsize / 1024)); 
		                // The size of the file. 
		                if (file >= 10240) { 
		                    alert( 
		                      "File too Big, please select a file less than 10mb");
		                    document.getElementById('inpVid').value = "";
		                    document.getElementById('sizeVid').innerHTML = "";
		                    return false;
		                } else if (file < 1) { 
		                    alert( 
		                      "File too small!"); 
		                    document.getElementById('inpVid').innerHTML = "";
		                    document.getElementById('sizeVid').innerHTML = "";
		                    return false;
		                } else { 
		                    document.getElementById('sizeVid').innerHTML = '<br/>	<b>File size: '
		                    + file + '</b> KB'; 
		                } 
		            } 
		        } 
		    } 
	</script>
	<script> 
		    Filevalidation3 = () => { 
		        const fi = document.getElementById('inpMedia'); 
		        // Check if any file is selected. 
		        if (fi.files.length > 0) { 
		            for (const i = 0; i <= fi.files.length - 1; i++) { 
		  
		                const fsize = fi.files.item(i).size; 
		                const file = Math.round((fsize / 1024)); 
		                // The size of the file. 
		                if (file >= 5121) { 
		                    alert( 
		                      "File too Big, please select a file less than 5mb");
		                    document.getElementById('inpMedia').value = "";
		                    document.getElementById('sizeMedia').innerHTML = "";
		                    return false;
		                } else if (file < 1) { 
		                    alert( 
		                      "File too small!"); 
		                    document.getElementById('inpMedia').innerHTML = "";
		                    document.getElementById('sizeMedia').innerHTML = "";
		                    return false;
		                } else { 
		                    document.getElementById('sizeMedia').innerHTML = '<br/>	<b>File size: '
		                    + file + '</b> KB'; 
		                } 
		            } 
		        } 
		    } 
	</script>
	<script type="text/javascript">
		function showMessage() {
			var x = document.getElementById('PostMessage').innerHTML;
			if(x !== null) {
			  	alert(x);
			}
		}
	</script>
	<script>
	 $(window).on('load', showMessage());
	</script>
	<script>
	/* When the user clicks on the button, 
	toggle between hiding and showing the dropdown content */
		function showPostFunction(x1) {
		  document.getElementById(x1).classList.toggle("show");
		}
	
	// Close the dropdown if the user clicks outside of it
		window.onclick = function(event) {
		  if (!event.target.matches('.dropbtn')) {
		    var dropdowns = document.getElementsByClassName("post-dropdown-content");
		    var i;
		    for (i = 0; i < dropdowns.length; i++) {
		      var openDropdown = dropdowns[i];
		      if (openDropdown.classList.contains('show')) {
		        openDropdown.classList.remove('show');
		      }
		    }
		  }
		}
	</script>
	<script>
    	function confirm_delete() {
        	return confirm('Are you sure to delete?');
        }
    </script>
</body>

</html>